public-hoist-pattern[]=*@medusajs/*
public-hoist-pattern[]=@tanstack/react-query
public-hoist-pattern[]=react-i18next
public-hoist-pattern[]=react-router-dom
public-hoist-pattern[]=zod
public-hoist-pattern[]=react-hook-form
public-hoist-pattern[]=@hookform/resolvers
